* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #555;
  overflow-x: hidden;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right:auto;
    margin-left: auto;
}

/* Navigation Bar */
.navbar-default {
    background-color: #1a9988;
    border-color: #1a9988;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-brand {
   color: #fff;
}

.navbar {
  margin-bottom: 0px;
}

/*---------------
/ Page Header
----------------*/
#page-header {
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/big-graph.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  color: #fff;
  position: relative;
}

.page-header-text {
  position: absolute;
  width: 960px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#page-header h1 {
  font-size: 42px;
  margin-bottom: 30px;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 1px;
}

#page-header a {
  background-color: #008CBA;
  padding: 12px 28px;
  color: #fff;
  border: 2px solid #008CBA;
  border-radius: 2px;
  text-decoration: none;
  transition-duration: 0.4s;
}

#page-header a:hover {
  background-color: #fff;
  color: #333;
}

section {
  padding: 80px 0;
  box-sizing: border-box;
}

section h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

section p {
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.what-we-do img {
  float: left;
}

.globe {
  width: 300px;
  height: 300px;
}

.our-mission {
  background: #555;
  color: #f2f2f2;
}

.our-mission img {
  float: right;
}

footer {
  padding: 20px;
  background: #1e9988;
  color: #fff;
}

footer p {
  text-align: center;
}

ul.social-links {
  float: right;
}


ul.footer-nav,
ul.social-links {
  list-style: none;
}

ul.footer-nav li a,
ul.social-links li a {
  text-decoration: none;
  color: #888;
  border: 0;
}

ul.footer-nav li,
ul.social-links li {
  display: inline-block;
  margin-right: 20px;
}

section#about {
  background: #555;
  color: #f2f2f2;
}

#about p {
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

.the-team-content {
  text-align: center;
}

.the-team img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Contact Page */
.contact-header, .usecase-header {
  padding: 40px 20px;
  background-color: #ededed;
  margin-bottom: 30px;
  text-align: center;
}

.usecase-content {
  width: 630px;
  margin: 0 auto;
}

.usecase {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #1a9988;
}

div.usecase> img {
  float: left;
  padding-right: 20px;
}

.usecase h3 {
  font-weight: bold;
}

.contact-list {
  width: 630px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #1a9988;
}
.contact-list img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contact-list p {
  vertical-align: middle;
}

/* TAB PANEL */
.tab-pane p {
  font-size: 22px;
}


/* Media Queries */
@media only screen and (max-width: 500px) {
  #page-header {
    height: 400px;
  }
  
  #page-header h1 {
  font-size: 22px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
  .page-header-text {
  width: 370px;
}

}

@media only screen and (min-width: 500px) and (max-width: 767px) {
.page-header-text {
  width: 560px;
}
}


.space{
  margin: 6em;
}

.footer{
  margin-top:3em;
}